

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/H-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @RenderBody()
    <script src="~/lib/jquery/1.9.1/jquery.min.js"></script>
    <script src="~/lib/layer/1.9.3/layer.js"></script>
    <script src="~/lib/laypage/1.2/laypage.js"></script>
    <script type="text/javascript" src="~/lib/icheck/jquery.icheck.min.js"></script>
    <script src="~/lib/My97DatePicker/WdatePicker.js"></script>
    <script src="~/lib/Validform/5.3.2/Validform.min.js"></script>
    <script src="~/js/H-ui.js"></script>
    <script src="~/js/H-ui.admin.js"></script>
    @RenderSection("fontScript", false)
</body>
</html>
